#header{
  border-bottom:2px solid #EC2825;
}
/*header1*/
#header1{
  background:#F9F9F9;
  height:30px;
  line-height:30px; 
  border-bottom:1px solid #EFEFEF;
}
#header1 ul{
  margin-right:20px;
}
#header1 ul li{
  float:left;
}
#header1 ul li span{
  margin:0 5px;
}
#header1>div>ul>li>div>a>i{
  display:inline-block;
  vertical-align:middle;
  width:7px;
  height:4px;
  border:4px solid;
  border-color:#C7C7C9 transparent transparent transparent;
  background:url("http://127.0.0.1:80/images/icons-1.png") no-repeat 0px -40px;
  margin-left:5px;
  transition:transform linear 0.5s;
}

#header1 a:hover{
  color:#f00;
}
/*下拉菜单*/
#header1 ul li .dropdown{
  display:inline-block;
  position:relative;
  line-height: 20px;
  border:1px solid transparent;
}
#header1 ul li .dropdown>a{/* 让a标签定位设置下边框白色 */
  display:block;
  width:76px;
  height:20px;
  position:relative;
  border-bottom:1px solid #fff;
  z-index:2;
  padding:0 5px;
}
.drop_content{
  display:none;
  position:absolute;
  border: 1px solid #C7C7C9;
  width: 78px;
  left: -1px;
  top:20px;
  padding:12px 5px;
  background:#fff;
  z-index:1;
}
#header1>div>ul>li:nth-child(3) .dropdown:hover{
  border: 1px solid #C7C7C9;
  background:#fff;
}
#header1>div>ul>li:nth-child(3) .dropdown:hover .drop_content{
  display:block;
}
 #header1>div>ul>li:nth-child(3) .dropdown:hover .rotate{
  transform:rotate(180deg);
  transform-origin:center 5px;
}
/*header2*/
#header2{
  height:80px;
  padding-top:25px;
  position:relative;
}
#header2 a img{
  vertical-align:middle;
}
#header2>a:nth-child(1)>img{
  width:165px;
  height:40px;
}
#header2>a:nth-child(2)>img{
  width:150px;
  height:80px;
  margin-left:34px;
}
.searchBox{
  width:415px;
  height:34px;
  margin-left:51px;
  border:3px solid #CC3333;
  vertical-align:middle;
  outline:0;
  text-indent:10px;
  font-size:12px;
}
.icon_box{
  width:82px;
  height:40px;
  background-color:#CC3333;
  display:inline-block;
  vertical-align: middle;
  margin-left:-5px;
  border:0;
  outline:none;
  cursor:pointer;
}
.search_icon{
  display:block;
  background: url('http://127.0.0.1:80/images/icons-2.png') no-repeat -28px -67px;
  width: 24px;
	height: 25px;
  margin:7.5px auto;
}
/* 购物车 */
#header2 div{
  box-sizing:border-box;
}
#header2>.shopping_cart{
  width:200px;
  height: 40px;
  margin-top: 20px;
  line-height: 40px;
  float: right;
  position:relative;
}

#header2>.shopping_cart>.drop_btn{
  float:left;
  width:100%;
  height:40px;
  cursor:pointer;
}
#header2>.shopping_cart>.drop_btn a{
  color:#666666;
}
#header2>.shopping_cart>.drop_btn:hover a{
  color:#f00;
}
#header2>.shopping_cart>.drop_btn>div{
  float:left;
}
#header2>.shopping_cart>.drop_btn>div:first-child{
  height:40px;
  width:160px;
  line-height: 40px;
  border:1px solid #EFEFEF;
  background-color:#F8F8F8;
}

#header2>.shopping_cart>.drop_btn>div:first-child>a>.icon{
  display:inline-block;
  background:url('http://127.0.0.1:80/images/icons-2.png') no-repeat -15px -213px;
  width:20px;
  height:20px;
  margin:-5px 10px;
}
#header2>.shopping_cart>.drop_btn>div:nth-child(2){
  float:right;
  width:40px;
  height:40px;
  background-color:#CC3333;
  color:#fff;
  font-weight:bold;
  font-size:15px;
  text-align: center;
}

#header2>.shopping_cart>.drop_list{
  display:none;
  position:absolute;
  width:333px;
  top:100%;
  right:0px;
  z-index:2;
}
#header2>.shopping_cart:hover>.drop_list{
  display:block;
}
/* 不设高度，由内容撑开 */
#header2>.shopping_cart>.drop_list>.shopping_list,.no_shopping_list{
  width:100%;
  border-width:1px 1px 0 1px;
  border-style:solid;
  border-color:#D5D4D4;
  background:#ffffff;
  max-height:144px;
}
/* 加入购物车的商品样式 */
.no_shopping_list{
  height:60px;
  text-align:center;
  line-height:60px;
}
#header2>.shopping_cart>.drop_list>.shopping_list>.shopping_item{
  width:100%;
  padding:10px;
  display: flex;
  flex-direction:row;
  line-height:normal;
  justify-content:space-between;
}
#header2>.shopping_cart>.drop_list>.shopping_list>.shopping_item>a:nth-child(2){
  width:50%;
}

#header2>.shopping_cart>.drop_list>.shopping_list>.shopping_item img{
 width:50px;
 height:50px;
 border:1px solid #C9C8C6;
 margin-right:5px;
}
#header2>.shopping_cart>.drop_list>.shopping_list>.shopping_item>a>span:hover{
  color:#D40000;
}
#header2>.shopping_cart>.drop_list>.shopping_list>.shopping_item .PD{
  width:25%;
  display:flex;
  flex-direction:column;
}
#header2>.shopping_cart>.drop_list>.shopping_list>.shopping_item .PD :nth-child(1){
  color:#D40000;
  font-weight:bold;
}
#header2>.shopping_cart>.drop_list>.shopping_list>.shopping_item .PD :nth-child(2){
  margin-top:5px;
  cursor:pointer;
}
/* 结算 */
#header2>.shopping_cart>.drop_list>.balance{
  width:100%;
  height:40px;
  border:1px solid #CC3333;
}
#header2>.shopping_cart>.drop_list>.balance span{
  display:inline-block;
  width:65px;
  height:38px;
  text-align:center;
  background:#F4F4F4;
}
#header2>.shopping_cart>.drop_list>.balance span:first-child{
  padding-left:5px;
  font-weight:bold;
}
#header2>.shopping_cart>.drop_list>.balance span:nth-child(2){
  padding-left:116px;
  padding-right:15px;
  color:#f00;
}
#header2>.shopping_cart>.drop_list>.balance span:last-child{
  background:#CC3333;
}






/* 热门搜索*/
#header2>.hot{
  position:absolute;
  left:408px;
  top:90px;
}
#header2>.hot>span{
  color:#999999;
}
#header2>.hot>a{
  padding-right:5px;
  color:#666666;
}
/*nav*/
#nav>ul{
  height:36px;
  line-height: 36px;
  font-weight:bold;
}
#nav>ul>li:first-child{
  width:212px;
  height:36px;
  background:#D40000;
  text-indent:10px;
}
#nav>ul>li:not(:first-child){
  padding:0 20px;
}
#nav>ul>li:not(:first-child) a:hover{
  color:#D40000;
}
#nav .arrow{
  float:right;
  border:5px solid;
  border-color: #fff transparent transparent transparent;
  margin-right:12px;
  margin-top:16px;
}
#nav .drop_list{
  position:relative;
}
#nav>ul>li.drop_list .drop_menu{
  position:absolute;
  display:none;
  top:36px;
  z-index: 100;
  border-top:0;
  border-bottom:1px solid #E5E5E5;
}
#nav .drop_list:hover .drop_menu{
  display:block !important;
}

#nav .drop_list .drop_menu .side_list{
  width:210px;
  height:54px;
  padding-top:4px;
  background:#FAFAFA;
  border-width:1px;
  border-style:solid;
  border-color:transparent #E5E5E5;
}
#nav .drop_list .drop_menu .side_list:hover{
  background:#ffffff;
}
#nav .drop_list .drop_menu .side_list .side_btn{
  position:relative;
  z-index:3;
}
#nav .drop_list .drop_menu .side_list .active{
  display:none;
  position:absolute;
  width:207px;
  height:58px;
  left:0px;
  top:0px;
  border-top:1px solid #D40000; 
  border-right:1px solid #fff ;
  border-bottom:1px solid #D40000;
  border-left:4px solid #D40000;
  z-index: 2; 
}
#nav .drop_list .drop_menu .side_list:hover .active{
  display:block;
}
#nav .drop_list .drop_menu>.side_list:hover .side_menu{
  display:block;
  background:#fff;
}
#nav .drop_list .drop_menu>.side_list.first:hover .side_menu{
  top:0px;
}
#nav .drop_list .drop_menu li:nth-child(2n){
  background:#F0F0F0;
}
#nav .drop_list .side_btn>.smallicon{
  -webkit-filter:grayscale(100%)  opacity(50%); 
  filter:grayscale(100%) opacity(50%);/*设置滤镜，灰度和透明度*/
  vertical-align:middle;
  margin:0 5px 0 8px;
}
#nav .drop_list .drop_menu .side_list:hover .smallicon{
  -webkit-filter:grayscale(0%)  opacity(0%); 
  filter:grayscale(0%) opacity(100%);/*设置滤镜，灰度和透明度*/
}
#nav .drop_list .drop_menu .side_list:hover .side_btn>a{
  color:#D40000;
}
#nav .drop_list>ul>li>div>a{
 color:#333333; 
}
#nav .small_arrow{
  float:right;
  width:10px;
  height:10px;
  margin-top:23px;
  margin-right:8px;
  background:url("http://127.0.0.1:80/images/top_bg.png") no-repeat -150px -10px;
}
#nav .side_menu{
  display:none;
  position:absolute;
  left:211px;
  top:14px;
  width:700px;
  height:410px;
  border:1px solid #f00;
  z-index: 1;
}
#nav .side_menu>div:first-child{
  width:544px;
  height:390px;
}
#nav .side_menu>div>h1>a{
  display:inline-block;
  color:#C9033B;
  font-size:15px;
  height:30px;
}

#nav .side_menu>div>.rec_list>a{
  margin-left:13px;
}
#nav .side_menu>div>.rec_list>a>.rec_btn{
  width:115px;
  height:29px;
  border:0;
  border-radius:3px;
  background:#FB7523;
  cursor:pointer;
}
#nav .side_menu>div>.rec_list>a>.rec_btn:hover{
  background:#D40000;
}
#nav .side_menu>div>.rec_list{
  margin-left:4px;
  text-indent:0;
}
#nav .side_menu>.recommend{
  margin-right:0px;;
  margin-top:0px;
  width:155px;
  height:390px;
  border-left:1px solid #E5E5E5;
  color:#C9033B;
  font-size:15px;
}
#nav .side_menu>.recommend>div{
  width:120px;
  margin:5px auto;
  text-align:center;
  text-indent:0;
  line-height: 20px;
  font-weight:normal;
  border:1px solid #EFEFEF;
}
#nav .side_menu>.recommend>div>a{
  color:#333333;
  font-size: 12px;
}
#nav .side_menu>.recommend>div>a:hover{
  color:#C9033B;
}

