/*header*/
#header{
	padding:20px 0px;
}
#header img{
	float:left;
	margin-left:100px;
}
#header h1{
	float:left;
	margin-left:20px;
	padding-left:20px;
	border-left:1px solid #C8C8C8;
	font-weight:normal;
	color:#000000;
	height:39px;
	line-height:39px;
}
/*section主体部分*/
#section{
	height:420px;
	background:url("../image/login_big.jpg") no-repeat center center;
}
#section .container{
	height:100%;
	position:relative;
}
#section .login_form{
	width:350px;
	height:360px;
	border:5px solid rgba(255,255,255,0.4);
	border-radius:3px;
	position:absolute;
	top: 25px;
	left:685px;
}
#section .login_form form{
	height:100%;
	background:#ffffff;
	border:1px solid #ffffff;
	border-radius:3px;
}
#section .login_form div:first-child{
	height:48px;
	line-height:48px;
	border-bottom:1px solid #e8e8e8;
	margin-bottom:33px;
}
#section .login_form form div:first-child a{
	padding:0 31px;
}
#section .login_form form input{
	width:300px;
	height:36px;
	margin:0 25px 25px;
	border:1px solid #D3D3D3;
	border-radius:3px;
	outline:0;
	font-size:12px;
}
#section .login_form form .text{
	text-indent:45px;
}
#section .login_form form .rel{
	position:relative;
}
#section .login_form form .img_user{
	position:absolute;
	left:40px;
	top:9px;
}
#section .login_form form .img_code{
	position:absolute;
	left:40px;
	top:7.5px;
}
#section .login_form form .ml_263{
	margin-left:263px;
}
#section .login_form form div:nth-child(4){
	margin-bottom:22px;
}
#section .login_form form input.login_btn{
	height:40px;
	font-size:16px;
	border:1px solid #EE6A1E;
	margin-bottom:20px;
	cursor: pointer;
}
#section .login_form form div:last-child{
	margin:0 25px;
	border-top:1px solid #e6e6e6;
	padding-top:12px;
}
#section .login_form form div:last-child img{
	width:25px;
	height:25px;
	vertical-align: middle;
}
.line{
	padding:0 10px;
	color:#CFCFDA;
}
.ml_121{
	margin-left:121px;
}
p.err{
	display: none;
	float:left;
	margin-left: 26px;
	margin-top: -20px;
	background: url(../image/x.png) no-repeat left center;
	text-indent: 18px;
}

