#section>.nav{
  border-bottom:1px solid #D1CFCF;
  height:36px;
  line-height:36px;
}
#section>.nav>div>:last-child>span{
 color:#DF1738;
 font-weight:bold;
}
#section>.sift{
  position:relative;
}
#section>.sift>ul{
  border:1px solid #EEEEEE; 
  z-index:1;
  margin-top:15px;
}
#section>.sift>ul>li{
  margin:0 auto;
  width:1180px;
  height:40px;
  line-height: 40px;
}
#section>.sift>ul>li:not(:nth-child(4)){
  border-bottom:1px solid #EEEEEE; 
}
#section>.sift>ul>li>span{
 padding-right:30px;
}
#section>.sift>ul>li>span.title{
 padding-left:50px;
}
#section >.sift>.spread{
  position:absolute;
  left:50%;
  top:100%;
  margin-left:-41px;
  margin-top:-1px;
  width:80px;
  height:24px;
  border-width:1px;
  border-style:solid;
  border-color:#ffffff #EEEEEE #EEEEEE #EEEEEE;
  text-align:center;
  padding-right:5px;
  line-height: 24px;
  z-index:1;
  cursor:pointer;
}
#section >.sift>.spread:hover{
  color:#DF1738;
}
#section >.sift>.spread>:first-child{
  padding-right:5px;
}
#section >.sift>.spread>:last-child{
  display:inline-block;
  width:9px;
  height:6px;
  background:url(http://127.0.0.1:80/images/filter_down.gif) no-repeat;
}
#section>.products{
  margin-top:35px;
}
#section>.products>.aside{
  width:200px;
}
#section>.products>.aside>p{
  border:1px solid #EEEEEE;
  height:40px;
  line-height:40px;
  text-indent:20px;
}
#section>.products>.aside>.visited{
  border:1px solid #EEEEEE;
  border-top:0;
  padding:5px;
}
#section>.products>.main>.filter{
  width:988px;
  border:1px solid #EEEEEE;
  height:51px;
  line-height:51px;
  margin-left:10px;
}

#section>.products>.main>.filter>.left{
  margin-left:20px;
}
#section>.products>.main>.filter>div>span{
  display: inline-block;
  margin:0 5px;
  height:30px;
  line-height: 30px;
  text-align:center;
  border:1px solid #EEEEEE;
  border-radius:3px;
  padding:0px 10px;
}
#section>.products>.main>.filter>div>.title{
  margin-right:10px;
  border:0;
}
#section>.products>.main>.filter>.center{
  margin:0 30px;
}
#section>.products>.main>.filter>.center>input{
  width:60px;
  height:30px;
  outline:0;
  border:1px solid #EEEEEE;
  border-radius:3px;
}
#section>.products>.main>.filter>.center>button{
  width:40px;
  height:30px;
  background:#DF1738;
  border:0;
  border-radius:3px;
  font-size:12px;
  margin-left: 10px;
  outline:0;
}
#section>.products>.main>.filter>.right>:nth-child(1),#section>.products>.main>.filter>.right>:nth-child(2)>span{
  color:#DF1738;
  font-weight:bold;
}
#section>.products>.main>.filter>.right>:nth-child(1){
  padding:0 20px;
}
#section>.products>.main>.filter>.right>:nth-child(2){
  margin:0 10px;
}
/* 商品列表 */
#section>.products>.main>.product_list{
  width:1000px;
}
#section>.products>.main>.product_list>ul>li{
  width:238px;
  height:380px;
  border:1px solid #EEEEEE;
  margin:20px 0px 0px 10px;
  float:left;
}
#section>.products>.main>.product_list>ul>li>div{
  padding:5px 0px;
}
#section>.products>.main>.product_list>ul>li>div>div{
  width:220px;
  margin:5px auto;
}
#section>.products>.main>.product_list>ul>li>div>.img>a>img{
 width:220px;
 height:220px;
}
#section>.products>.main>.product_list>ul>li>div>.price{
 color:#DF1738;
 font-size: 26px;
}
#section>.products>.main>.product_list>ul>li>div>.title>a{
 font-size:16px;
 color:#666666;
}
#section>.products>.main>.product_list>ul>li>div>.status{
  text-align:right;
}

#section>.products>.main>.product_list>ul>li>div>.operation>span{
  float:left;
  line-height:30px;
  height:30px;
  text-align:center;
  width:59px;
  border:1px solid #EEEEEE;
  border-right:0;
  cursor:pointer;
}
#section>.products>.main>.product_list>ul>li>div>.operation>span:nth-child(3){
  width:98px;
  border:1px solid #EEEEEE;
  color:#DF1738;
}
#section>.products>.main>.product_list>ul>li>div>.operation>span>img{/* 奇数子元素 */
  vertical-align:middle;
  padding-right: 5px;
}

