    <!--header1-->
    <div id="header1">
      <div class="container clearfix">
        <ul class="fr" v-cloak>
          <li>您好{{name}}，欢迎来到优生活商城 <span>|</span></li>
          <li>
            <a href="user_login.html" class="font_gray1" v-if="!isLogin">[请登录]</a>
            <a href="user_register.html" class="font_gray1" v-if="!isLogin">[免费注册]</a>
            <a href="index.html" class="font_gray1" @click="logout" v-else="!isLogin">退出</a><span>|</span>
          </li>
          <li>
            <div class="dropdown">
              <a href="#" class="font_gray1">会员中心<i class="rotate"></i></a>
              <div class="drop_content">
                  <a href="#" class="font_gray1">我的订单</a>
              </div>
            </div>
          </li>
          <li>
            <span>|</span>
            <a href="#" class="font_gray1">加入收藏</a>
            <span>|</span>
          </li>
          <li>
            <a href="#" class="font_gray1">分享给好友</a>
          </li>
        </ul>
      </div>
    </div>
    <!--header2-->
    <div id="header2" class="container">
        <a href="index.html"><img src="http://127.0.0.1:80/images/logo.jpg" alt="优生活商城"></a>
        <a href="#"><img src="http://127.0.0.1:80/images/kfrx.jpg" alt="客服热线"></a>
        <input type="text" class="searchBox" placeholder="膳魔师" v-focus v-model="kwords" @keyup.enter="search"><!-- v-focus自定义指令 v-model绑定输入框内容 keyup键抬起事件-->
        <div class="hot">
          <span>热门搜索：</span>
          <a href="products.html?kwords=大润窑">大润窑</a>
          <a href="products.html?kwords=大润窑">公牛</a> 
          <a href="products.html?kwords=大润窑">锅</a> 
          <a href="products.html?kwords=大润窑">新榜样</a> 
          <a href="products.html?kwords=大润窑">加加</a> 
          <a href="products.html?kwords=大润窑">百安思</a> 
          <a href="products.html?kwords=大润窑">乐扣</a>
        </div>
        <button class="icon_box" @click="search">
            <i class="search_icon"></i>
        </button>
        <!-- 购物车 -->
        <div class="shopping_cart">
          <div class="drop_btn">
            <div>
              <a href="#" class="font_14">
                <span class="icon"></span>
                <span>我的购物车</span>
              </a>
            </div>
            <div class="count">0</div>
          </div>
          <div class="drop_list">
            <div class="shopping_list">
              <div class="shopping_item">购物车中还没有商品，再去逛逛吧！</div>
              <!-- <div class="shopping_item">未写任何样式
                <img src="http://127.0.0.1:80/images/index_1L2.jpg" alt="">

              </div> -->
            </div>
            <div class="balance">
              <span>共 0 件</span><span>￥99.00</span><span><a href="javascript:;" class="font_white font_bold">结算</a></span>
            </div>
          </div>
        </div>
    </div>
    <!--nav-->
    <nav id="nav" class="container">
      <ul>
        <li class="fl font_14 drop_list">
          <div class=drop_btn>
            <a class="font_white" href="index.html">所有商品分类</a>
            <span class="arrow"></span>
          </div>
          <ul class="drop_menu">
            <li v-for="(item,i) of nav_list" :key="item.id" class="side_list" :class="i==0?'first':'other'">
              <div class="side_btn">
                <img class="smallicon" :src="item.path">
                <a href="javascript:;">{{item.txt}}</a>
                <span class="small_arrow"></span>
              </div>
              <div class="side_menu">
                <div class="fl">
                  <h1><a href="" v-for="item1 of item.title">{{item1}}</a></h1>
                  <div class="rec_list">
                    <a href="" v-for="item2 of item.index">
                      <button class="rec_btn font_white">{{item2}}</button>
                    </a>
                  </div>
                </div>
                <div class="recommend fr">
                  <p>推荐品牌</p>
                  <div v-for="item3 of item.rec_brand">
                    <p>{{item3.title}}</p>
                    <a href="#"><img :src="item3.img"></a>
                  </div>
                </div>
              </div>
              <div class="active" :style="`top:${item.id*60}px;`"></div>
            </li>
          </ul>
        </li>
        <li class="fl font_14"><a class="font_gray1" href="index.html">首页</a></li>
        <li class="fl font_14"><a class="font_gray1" href="index.html">帮助中心</a></li>
        <li class="fl font_14"><a class="font_gray1" href="index.html">兑换教程</a></li>
      </ul>
    </nav>
